<div class="page-container">
    <main>
      <div class="sections-container">
        <section class="section-block">
          <h2 class="section-title">Live Experience</h2>
          <div class="actions-grid">
            <app-broadcast-action-card
            (configSubmitted)="onBroadcastConfigSubmit($event)"></app-broadcast-action-card>
            <app-join-action-card></app-join-action-card>
          </div>
        </section>

        <section class="section-block">
          <h2 class="section-title">Offline Mode</h2>
          <div class="actions-grid">
            <app-record-action-card
              (recordClicked)="navigateToRecord()"
            ></app-record-action-card>
            <app-replay-action-card></app-replay-action-card>
          </div>
        </section>

        <section class="section-block">
          <h2 class="section-title">Features</h2>
          <div class="features-row">
            <div class="feature-card">
              <span class="feature-icon">🔒</span>
              <div class="content">
                <h3>Anonymous</h3>
                <p>No registration required. Your privacy is our priority.</p>
              </div>
            </div>
            <div class="feature-card">
              <span class="feature-icon">⌨️</span>
              <div class="content">
                <h3>Keystroke Recording</h3>
                <p>Capture the essence of your message creation.</p>
              </div>
            </div>
            <div class="feature-card">
              <span class="feature-icon">🌐</span>
              <div class="content">
                <h3>Real-time Sharing</h3>
                <p>Share your thoughts as you type them.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>