@use '../base/variables' as v;
@use '../themes/dark' as theme;
@use 'sass:map';

.container {
  width: 100%;
  max-width: v.$container-max-width;
  margin: 0 auto;
  padding: 0 v.$spacing-lg;
}

.page-container {
  height: calc(100vh - 16rem);
  padding-top: v.$spacing-2xl;
  color: map.get(theme.$theme, 'text-primary');
  font-family: v.$font-primary;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  gap: v.$spacing-lg;
  flex: 1;
  overflow: hidden;
  
  main {
    flex: 1;
    min-width: 0;
  }
} 